:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2c2c2c;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --board-width: 40em;
  --board-height: 40em;
  --y-y: 0;
  --x-x: 0;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.2em;
  margin-block: 0.5em;
  margin-bottom: 0;
}

#score {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

#zone{
  height: var(--board-height);
  width: var(--board-width);
  position: relative;
}
#board {
  background-color: rgb(170, 192, 166);
  height: var(--board-height);
  width: var(--board-width);
  position: relative;
  border-radius: 30px;
}



#cell {
  margin: 0.2em;
  height: 135px;
  width: 135px;
  align-content: center;
  vertical-align: middle;
  display: inline-block;

  box-shadow: rgba(10, 12, 14, 0.14) 2px 2px 3px , rgba(37, 30, 30, 0.04) 3px 3px 2px inset;

  border-radius: 10px;
  font-size: 3em;
  color: rgba(255, 255, 255, 0.37);
  font-weight: bold;

  position: relative;
}

#newCell {
  margin: 0.3em;
  height: 135px;
  width: 135px;
  align-content: center;
  vertical-align: middle;
  display: inline-block;
  box-shadow: rgba(10, 12, 14, 0.14) 2px 2px 3px, rgba(37, 30, 30, 0.04) 3px 3px 2px inset;
  position: relative;
  border-radius: 10px;
  font-size: 3em;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.37);

  -webkit-animation: animate 0.05s ease-in;
  animation: animate 0.05s ease-in;
}
@-webkit-keyframes animate {
  from {width: 120px; height:120px;}
  to {width: 130px; height: 130px;}
}




#color{
  background-color: #535bf2;
}


.button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin-bottom: 1em;
}

.button:hover {
  background-color: #dbdde1;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button :active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}





@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;

    .facet_sidebar {
      display: none;
    }
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
